@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");
@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap");
.black {
  color: #000 !important;
}

h5 {
  font-family: "Nunito Sans", sans-serif;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.order-11 {
  order: 11;
}

.order-12 {
  order: 12;
}

.offset-1 {
  margin-left: 8.333333%;
}

.offset-2 {
  margin-left: 16.666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.333333%;
}

.offset-5 {
  margin-left: 41.666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.333333%;
}

.offset-8 {
  margin-left: 66.666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.333333%;
}

.offset-11 {
  margin-left: 91.666667%;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.order-first {
  order: -1;
}

.order-last {
  order: 13;
}

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-sm-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-sm-first {
    order: -1;
  }
  .order-sm-last {
    order: 13;
  }
  .order-sm-0 {
    order: 0;
  }
  .order-sm-1 {
    order: 1;
  }
  .order-sm-2 {
    order: 2;
  }
  .order-sm-3 {
    order: 3;
  }
  .order-sm-4 {
    order: 4;
  }
  .order-sm-5 {
    order: 5;
  }
  .order-sm-6 {
    order: 6;
  }
  .order-sm-7 {
    order: 7;
  }
  .order-sm-8 {
    order: 8;
  }
  .order-sm-9 {
    order: 9;
  }
  .order-sm-10 {
    order: 10;
  }
  .order-sm-11 {
    order: 11;
  }
  .order-sm-12 {
    order: 12;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.333333%;
  }
  .offset-sm-2 {
    margin-left: 16.666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.333333%;
  }
  .offset-sm-5 {
    margin-left: 41.666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.333333%;
  }
  .offset-sm-8 {
    margin-left: 66.666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.333333%;
  }
  .offset-sm-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-md-first {
    order: -1;
  }
  .order-md-last {
    order: 13;
  }
  .order-md-0 {
    order: 0;
  }
  .order-md-1 {
    order: 1;
  }
  .order-md-2 {
    order: 2;
  }
  .order-md-3 {
    order: 3;
  }
  .order-md-4 {
    order: 4;
  }
  .order-md-5 {
    order: 5;
  }
  .order-md-6 {
    order: 6;
  }
  .order-md-7 {
    order: 7;
  }
  .order-md-8 {
    order: 8;
  }
  .order-md-9 {
    order: 9;
  }
  .order-md-10 {
    order: 10;
  }
  .order-md-11 {
    order: 11;
  }
  .order-md-12 {
    order: 12;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.333333%;
  }
  .offset-md-2 {
    margin-left: 16.666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.333333%;
  }
  .offset-md-5 {
    margin-left: 41.666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.333333%;
  }
  .offset-md-8 {
    margin-left: 66.666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.333333%;
  }
  .offset-md-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-lg-first {
    order: -1;
  }
  .order-lg-last {
    order: 13;
  }
  .order-lg-0 {
    order: 0;
  }
  .order-lg-1 {
    order: 1;
  }
  .order-lg-2 {
    order: 2;
  }
  .order-lg-3 {
    order: 3;
  }
  .order-lg-4 {
    order: 4;
  }
  .order-lg-5 {
    order: 5;
  }
  .order-lg-6 {
    order: 6;
  }
  .order-lg-7 {
    order: 7;
  }
  .order-lg-8 {
    order: 8;
  }
  .order-lg-9 {
    order: 9;
  }
  .order-lg-10 {
    order: 10;
  }
  .order-lg-11 {
    order: 11;
  }
  .order-lg-12 {
    order: 12;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.333333%;
  }
  .offset-lg-2 {
    margin-left: 16.666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.333333%;
  }
  .offset-lg-5 {
    margin-left: 41.666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.333333%;
  }
  .offset-lg-8 {
    margin-left: 66.666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.333333%;
  }
  .offset-lg-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-xl-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-xl-first {
    order: -1;
  }
  .order-xl-last {
    order: 13;
  }
  .order-xl-0 {
    order: 0;
  }
  .order-xl-1 {
    order: 1;
  }
  .order-xl-2 {
    order: 2;
  }
  .order-xl-3 {
    order: 3;
  }
  .order-xl-4 {
    order: 4;
  }
  .order-xl-5 {
    order: 5;
  }
  .order-xl-6 {
    order: 6;
  }
  .order-xl-7 {
    order: 7;
  }
  .order-xl-8 {
    order: 8;
  }
  .order-xl-9 {
    order: 9;
  }
  .order-xl-10 {
    order: 10;
  }
  .order-xl-11 {
    order: 11;
  }
  .order-xl-12 {
    order: 12;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.333333%;
  }
  .offset-xl-2 {
    margin-left: 16.666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.333333%;
  }
  .offset-xl-5 {
    margin-left: 41.666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.333333%;
  }
  .offset-xl-8 {
    margin-left: 66.666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.333333%;
  }
  .offset-xl-11 {
    margin-left: 91.666667%;
  }
}
a.main-button-slider {
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #313538;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  transition: all 0.3s ease 0s;
}

a.main-button-slider:hover {
  background-color: #f79aff;
}

a.main-button {
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #000;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  transition: all 0.3s ease 0s;
}

a.main-button:hover {
  background-color: #f79aff;
}

button.main-button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #af9aff;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  transition: all 0.3s ease 0s;
}

button.main-button:hover {
  background-color: #f79aff;
}

.service-item:hover .icon,
.service-item:hover a.main-button {
  background-color: #f79aff;
}

.service-item a.main-button {
  margin-top: 30px;
  display: inline-block;
}

.flip-front {
  transition: 0.5s;
  z-index: 1;
}

.flip-back {
  position: absolute;
  top: 0;
  padding: 10%;
  left: 0;
  opacity: 0;
}
.flip-back h6 {
  color: #000 !important;
}

.col-4:hover .flip-front,
.col:hover .flip-front {
  transform: rotateY(180deg);
  opacity: 0;
}
.col-4:hover .flip-back,
.col:hover .flip-back {
  opacity: 1;
  transition: 0.8s;
}

@media (max-width: 500px) {
  .flip-back h6 {
    font-size: 0.7rem !important;
  }
}
@media (max-width: 400px) {
  .flip-back h6 {
    font-size: 0.6rem !important;
  }
}
.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
  min-height: 20em;
}
@media only screen and (max-width: 736px), only screen and (hover: none) {
  .img-thumbnail {
    width: 90%;
  }
  .img-thumbnail h6 {
    font-size: 1.4em !important;
  }
}

.float-center {
  position: relative;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.halfPage {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 736px), only screen and (hover: none) {
  #advertising-container2 .row, #concept-art .row {
    display: grid;
  }
}
html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  margin: 0;
  color: #000;
  background-color: #fff;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header,
nav,
section,
article,
aside,
footer,
hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin-bottom: 0px;
}

@media (max-width: 991px) {
  html,
body {
    overflow-x: hidden;
  }
  .mobile-top-fix {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .mobile-bottom-fix {
    margin-bottom: 30px;
  }
  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
}
.owl-carousel .owl-dots {
  margin-top: 60px;
  text-align: center;
  align-self: center;
}

.owl-carousel button.owl-dot span {
  border-radius: 50%;
  background-color: #fff;
  width: 5px;
  height: 5px;
  display: inline-block;
  margin: 0px 5px;
}

.owl-carousel button.active span {
  width: 8px;
  height: 8px;
  padding-top: 1.5px;
}

.owl-carousel {
  position: relative;
}

.owl-carousel .owl-nav button.owl-next span {
  top: 32%;
  border-radius: 50%;
  font-size: 36px;
  color: #fff;
  right: -80px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  display: inline-block;
  background-color: #f79aff;
  position: absolute;
}

.owl-carousel .owl-nav button.owl-prev span {
  top: 32%;
  border-radius: 50%;
  font-size: 36px;
  color: #fff;
  left: -80px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  display: inline-block;
  background-color: #f79aff;
  position: absolute;
}

@media screen and (max-width: 1320px) {
  .owl-carousel .owl-nav {
    display: none !important;
  }
}
a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  font-size: 15px;
  line-height: 25px;
  color: #af9aff;
}

html,
body {
  background: #fff;
  font-family: "Nunito Sans", sans-serif;
}

.section-heading h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 300;
  color: #000;
  margin-bottom: 20px;
}

.section-heading p {
  font-size: 17px;
  color: #777;
  text-align: center;
}

::-moz-selection {
  background: #f79aff;
  color: #fff;
}

::selection {
  background: #f79aff;
  color: #fff;
}

::-moz-selection {
  background: #f79aff;
  color: #fff;
}

h5 {
  font-family: metalista-web, serif;
  font-weight: 400;
  font-style: normal;
}

h6 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.background-header {
  background-color: #fff;
  height: 80px !important;
  position: fixed !important;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
}
.background-header .logo,
.background-header .background-header .main-nav .nav li a {
  color: #000 !important;
}
.background-header .main-nav .nav > li:hover > a {
  color: #af9aff !important;
}
.background-header .main-nav .nav > li > ul > li:hover > a {
  color: #af9aff !important;
}
.background-header .nav li a.active {
  color: #af9aff !important;
}

.header-area {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 100px;
  transition: all 0.5s ease 0s;
}
.header-area .main-nav {
  min-height: 80px;
  background: transparent;
  margin-top: 27px;
}
.header-area .main-nav .logo {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  float: left;
  margin-left: 20%;
  width: 29%;
  transition: all 0.3s ease 0s;
}
.header-area .main-nav .nav {
  float: right;
  margin-right: 0px;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
  text-align: center;
}
.header-area .main-nav .nav li {
  padding-left: 20px;
  padding-right: 20px;
}
.header-area .main-nav .nav li a {
  display: block;
  font-weight: 500;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
}
.header-area .main-nav .nav li:last-child {
  padding-right: 0px;
}
.header-area .main-nav .nav li:hover a {
  color: #af9aff;
}
.header-area .main-nav .nav li.submenu {
  position: relative;
  padding-right: 35px;
}
.header-area .main-nav .nav li.submenu ul {
  position: absolute;
  width: 200px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  top: 40px;
  opacity: 0;
  transform: translateY(-2em);
  visibility: hidden;
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
.header-area .main-nav .nav li.submenu ul li {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.header-area .main-nav .nav li.submenu ul li a {
  display: block;
  background: #fff;
  color: #f79aff;
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  transition: all 0.3s ease 0s;
  position: relative;
  font-size: 13px;
  border-bottom: 1px solid #fff;
}
.header-area .main-nav .nav li.submenu:after {
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
  color: #fff;
  position: absolute;
  right: 18px;
  top: 12px;
}
.header-area .main-nav .nav li.submenu:after {
  color: #000;
}
.header-area .main-nav .nav li.submenu ul li a:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 40px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  transition: all 0.3s ease 0s;
  background: #af9aff;
}
.header-area .main-nav .nav li.submenu ul li a:hover {
  background: #fff;
  color: #af9aff;
  padding-left: 25px;
}
.header-area .main-nav .nav li.submenu ul li a:hover:before {
  width: 3px;
}
.header-area .main-nav .nav li.submenu:hover ul {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}
.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}
.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span::after {
  transition: all 0.4s;
  background-color: #fff;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}
.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span::after {
  background-color: #000;
}
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span::after {
  transition: all 0.4s;
  background-color: #fff;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span::after {
  background-color: #000;
  content: "";
}
.header-area .main-nav .menu-trigger span {
  top: 16px;
}
.header-area .main-nav .menu-trigger span:before {
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}
.header-area .main-nav .menu-trigger span:after {
  transform-origin: 33% 0;
  top: 10px;
}
.header-area .main-nav .menu-trigger .active span,
.header-area .main-nav .menu-trigger .active span:before,
.header-area .main-nav .menu-trigger .active span::after {
  background-color: transparent;
  width: 100%;
}
.header-area .main-nav .menu-trigger .active span:before {
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #fff;
}
.header-area .main-nav .menu-trigger .active span:before {
  background-color: #000;
}
.header-area .main-nav .menu-trigger .active span:after {
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #fff;
}
.header-area .main-nav .menu-trigger .active span:after {
  background-color: #000;
}
.header-area .header-sticky {
  min-height: 80px;
}
.header-area .header-sticky .nav {
  margin-top: 20px !important;
}
.header-area .header-sticky .nav li a.active {
  color: #af9aff;
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header-area .main-nav:before {
    display: none;
  }
}
@media (max-width: 991px) {
  .header-area {
    padding: 0px 15px;
    height: 80px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container {
    padding: 0px;
  }
  .header-area .logo {
    margin-left: 30px;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    margin-top: 80px !important;
    display: none;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #fff;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #fff;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #fff !important;
    color: #f79aff !important;
    display: inline;
    text-align: center;
  }
  .header-area .main-nav .nav li a:hover {
    background: #fff !important;
  }
  .header-area .main-nav .nav li .submenu ul {
    position: revert !important;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
  }
  .header-area .main-nav .nav li .submenu ul li a {
    font-size: 12px;
    font-weight: 400;
  }
  .header-area .main-nav .nav li .submenu ul li a:hover:before {
    width: 0px;
  }
  .header-area .main-nav .nav li .submenu ul .active {
    height: auto !important;
  }
  .header-area .main-nav .nav .submenu:after {
    color: #f79aff;
    right: 25px;
    font-size: 14px;
    top: 15px;
  }
  .header-area .main-nav .nav .submenu:hover ul, .header-area .main-nav .nav .submenu:focus ul {
    height: 0px;
  }
  .header-area .main-nav .nav li.submenu ul.active {
    height: auto !important;
  }
  .header-area .main-nav .nav li.submenu ul {
    justify-content: center;
    visibility: hidden;
    transform: translateY(0%);
    width: 100%;
  }
  .header-area .main-nav .nav li.submenu ul li {
    max-width: 100%;
  }
  .header-area .main-nav .nav li.submenu ul.active {
    position: revert !important;
  }
}
@media (min-width: 992px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
}
.left-text {
  float: left !important;
}

#welcome, #projects-page {
  color: #000;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(/images/Header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 105vh;
  margin-top: -10vh;
}
#welcome .header-text, #projects-page .header-text {
  position: absolute;
  top: 55%;
  transform: translateY(-60%);
  text-align: left;
  width: 100%;
}
#welcome .header-text .left-text, #projects-page .header-text .left-text {
  align-self: center;
}
#welcome .header-text hr, #projects-page .header-text hr {
  width: 50%;
  border-width: 1em;
  border: 5px solid;
  color: #fff;
}
#welcome .header-text h1, #projects-page .header-text h1 {
  font-weight: 400;
  font-size: 100px;
  line-height: 80px;
  font-family: metalista-web, serif;
  font-style: normal;
  letter-spacing: 1.4px;
  margin-bottom: 30px;
  color: #fff;
}
#welcome .header-text p, #projects-page .header-text p {
  font-weight: 500;
  font-size: 17px;
  font-family: "Nunito Sans", sans-serif;
  color: #fff;
  line-height: 30px;
  letter-spacing: 0.25px;
  margin-bottom: 40px;
  position: relative;
}

@media (max-width: 991px) {
  .welcome-area .header-text {
    top: 55% !important;
    transform: perspective(1px) translateY(-60%) !important;
  }
  .welcome-area .header-text h1 {
    font-size: 36px;
    line-height: 50px;
    color: #fff;
    margin-bottom: 15px;
  }
  .welcome-area .header-text h1 span {
    color: #fff;
  }
  .welcome-area .header-text p {
    color: #fff;
    margin-bottom: 30px;
  }
}
@media (max-width: 820px) {
  .welcome-area .header-text {
    top: 55% !important;
    transform: perspective(1px) translateY(-60%) !important;
  }
  .welcome-area .header-text h1 {
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 15px;
  }
  .welcome-area .header-text p {
    margin-bottom: 30px;
  }
}
@media (max-width: 765px) {
  .welcome-area {
    margin-bottom: 100px;
  }
  .welcome-area .header-text {
    top: 55% !important;
    transform: perspective(1px) translateY(-50%) !important;
    text-align: center;
  }
  .welcome-area .header-text .buttons {
    display: none;
  }
  .welcome-area .header-text h1 {
    font-weight: 600;
    font-size: 24px !important;
    line-height: 30px !important;
    margin-bottom: 20px !important;
  }
  .welcome-area .header-text h1 span {
    color: #fff;
  }
  .welcome-area .header-text p {
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 40px;
  }
  .welcome-area .header-text img {
    width: 80%;
    margin-top: 20px;
  }
}
.project-header {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(245, 246, 252, 0.52)), to(rgb(46, 41, 78))), url("../images/portfolio/witch-girl.png") !important;
  background-size: cover !important;
  width: 100%;
  height: 100vh;
  margin-top: -10vh;
}

#projects-page {
  background: url(/images/portfolio/project_wallpaper.jpg) no-repeat top;
  background-size: cover;
  width: 100%;
  height: 105vh;
  margin-top: -10vh;
}

.about {
  background-color: #af9aff;
  padding: 120px 0px;
}
.about .right-text {
  align-self: center;
}
.about .right-text p {
  margin-bottom: 40px;
  color: #fff;
}
.about .left-heading h5 {
  font-size: 7em;
  line-height: 80%;
  font-family: metalista-web, serif;
  font-weight: 400;
  color: #fff !important;
  text-shadow: 2px 2px #000 !important;
}
.about .horizontalDottedLine {
  background-image: linear-gradient(to right, #fff 33%, rgba(240, 240, 240, 0) 0%);
  background-position: bottom;
  background-size: 15px 5px;
  background-repeat: repeat-x;
  width: 70%;
}
.about .aboutHR {
  border: none;
  border-bottom: 20px dotted;
  width: 50%;
  float: left;
  color: #fff;
  letter-spacing: 10em;
}
.about hr:after {
  content: "";
  letter-spacing: 40px;
}

@media (max-width: 765px) {
  .about, #about2, #advertising, #concept-art, #photography, #branding, #marketing, #code {
    padding: 20px 0px 120px 0px;
  }
}
.about2 {
  background-color: #313538;
}
.about2 h6 {
  font-size: 1em;
  line-height: 80%;
  color: #f79aff;
}

#advertising, #concept-art, #photography, #branding, #marketing, #code {
  background-color: #313538;
}
#advertising h6, #concept-art h6, #photography h6, #branding h6, #marketing h6, #code h6 {
  font-size: 1em;
  line-height: 80%;
  color: #f79aff;
}

.numberDisplay {
  border: 3px solid #fff;
  height: 2em;
  width: 2em;
  text-align: center;
  border-radius: 50%;
  float: right;
  margin-right: 7em;
  color: #fff;
  font-family: inherit;
}

#logos {
  background-color: #fff;
}
#logos h6 {
  font-size: 1em;
  line-height: 80%;
}

.logo-heading {
  color: #af9aff !important;
}

.horizontalDottedLineBlack {
  background-image: linear-gradient(to right, #000 33%, rgba(240, 240, 240, 0) 0%);
  background-position: bottom;
  background-size: 15px 5px;
  background-repeat: repeat-x;
  width: 70%;
}

@media (max-width: 900px) {
  h5 {
    font-size: 4.5em !important;
  }
}
.text h6 {
  font-size: 1.125em;
  font-weight: 700;
}

.wrapper {
  width: 200px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  -webkit-animation: circle 0.5s alternate infinite ease;
          animation: circle 0.5s alternate infinite ease;
}

@-webkit-keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}

@keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}
.circle:nth-child(2) {
  left: 45%;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: #313538;
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  -webkit-animation: shadow 0.5s alternate infinite ease;
          animation: shadow 0.5s alternate infinite ease;
}

@-webkit-keyframes shadow {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

@keyframes shadow {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}
.shadow:nth-child(4) {
  left: 45%;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.wrapper span {
  position: absolute;
  top: 75px;
  font-family: "Lato";
  font-size: 20px;
  letter-spacing: 12px;
  color: #fff;
  left: 15%;
}

.hello {
  opacity: 1 !important;
}

.full {
  position: fixed;
  left: 10;
  top: 10;
  width: 30%;
  z-index: 1;
}
.full .content {
  background-color: rgba(0, 0, 0, 0.75) !important;
  height: 100%;
  width: 60%;
  display: grid;
}
.full .content img {
  left: 50%;
  transform: translate3d(0, 0, 0);
  -webkit-animation: zoomin 1s ease;
          animation: zoomin 1s ease;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.byebye {
  opacity: 0;
}

.byebye:hover {
  transform: scale(0.2) !important;
}

.gallery {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 8px;
}
.gallery img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}
.gallery img:hover {
  box-shadow: 0 0 32px #333;
}
.gallery .content {
  padding: 4px;
}
.gallery .gallery-item {
  transition: grid-row-start 300ms linear;
  transition: grid-row-start 300ms linear, -ms-grid-row 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.gallery .gallery-item:hover {
  transform: scale(1.025);
}
@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}
@media (max-width: 400px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}
@-webkit-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
button {
  font-family: "Nunito Sans";
}

svg {
  width: 60%;
  visibility: hidden;
  float: left;
}

.error-title {
  font-size: 10.5em;
  margin: 15px 0px;
  font-weight: bold;
}

.hamburger-menu {
  position: absolute;
  top: 0;
  left: 0;
  padding: 35px;
  z-index: 2;
}
.hamburger-menu button {
  position: relative;
  width: 30px;
  height: 22px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
.hamburger-menu button span {
  position: absolute;
  height: 3px;
  background: #000;
  width: 100%;
  left: 0px;
  top: 0px;
  transition: 0.1s ease-in;
}
.hamburger-menu button span:nth-child(2) {
  top: 9px;
}
.hamburger-menu button span:nth-child(3) {
  top: 18px;
}
.hamburger-menu [data-state=open] span:first-child {
  transform: rotate(45deg);
  top: 10px;
}
.hamburger-menu [data-state=open] span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.hamburger-menu [data-state=open] span:nth-child(3) {
  transform: rotate(-45deg);
  top: 10px;
}

.btn {
  z-index: 1;
  overflow: hidden;
  background: transparent;
  position: relative;
  padding: 8px 50px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 2px;
  transition: 0.2s ease;
  font-weight: bold;
  margin: 5px 0px;
}
.btn.btncolor {
  border: 4px solid #313538;
  color: #313538;
}
.btn.btncolor:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: #af9aff;
  z-index: -1;
  transition: 0.2s ease;
}
.btn.btncolor:hover {
  color: #fff;
  background: #f79aff;
  transition: 0.2s ease;
}
.btn.btncolor:hover:before {
  width: 100%;
}
.btn.btncolorAlt {
  border: 4px solid #af9aff;
  color: #af9aff;
}
.btn.btncolorAlt:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: #000;
  z-index: -1;
  transition: 0.2s ease;
}
.btn.btncolorAlt:hover {
  color: #fff;
  background: #000;
  transition: 0.2s ease;
}
.btn.btncolorAlt:hover:before {
  width: 100%;
}

@media screen and (max-width: 768px) {
  body {
    display: block;
  }
  .container {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
#contact {
  background-color: #000;
  padding: 120px 0px;
  padding-bottom: 2em;
}
#contact .left-heading h5 {
  font-size: 4em;
  line-height: 80%;
  font-family: metalista-web, serif;
  font-weight: 400;
  color: #fff !important;
  text-shadow: 2px 2px #000 !important;
}

.accordion-text p, .accordion-text span, .accordion-text h5, .accordion-text a {
  color: #fff;
}
.accordion-text b {
  color: #af9aff;
}

.projects {
  padding: 120px 0px;
}
.projects .right-text {
  align-self: center;
}
.projects .right-text p {
  margin-bottom: 40px;
  color: #fff;
}
.projects ul {
  float: right;
}
.projects ul li {
  display: inline;
  width: 50%;
}

@media (max-width: 765px) {
  .projects {
    padding: 20px 0px 120px 0px;
  }
}
.data-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 20.75em;
  min-height: 29em;
  overflow: hidden;
  border-radius: 0.5em;
  text-decoration: none;
  background: #fff;
  padding: 1.3em;
  padding-top: 1.75em;
  padding-bottom: 2em;
  box-shadow: 0 1.5em 2.5em -0.5em rgba(0, 0, 0, 0.1);
  transition: transform 0.45s ease, background 0.45s ease;
}
.data-card h3 {
  color: #313538;
  font-size: 3.5em;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 0.5em;
  margin: 0 0 0.142857143em;
  border-bottom: 2px solid #af9aff;
  transition: color 0.45s ease, border 0.45s ease;
}
.data-card h4 {
  color: #313538;
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
  margin: 0 0 1.777777778em;
  transition: color 0.45s ease;
}
.data-card p {
  opacity: 0;
  color: #fff;
  font-weight: 600;
  line-height: 1.8;
  margin: 0 0 1.25em;
  transform: translateY(-1em);
  transition: opacity 0.45s ease, transform 0.5s ease;
}
.data-card .link-text {
  display: block;
  color: #af9aff;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.2;
  margin: auto 0 0;
  transition: color 0.45s ease;
}
.data-card .link-text svg {
  margin-left: 0.5em;
  transition: transform 0.6s ease;
}
.data-card .link-text svg path {
  transition: fill 0.45s ease;
}
.data-card:hover {
  background: #313538;
  transform: scale(1.02);
}
.data-card:hover h3 {
  color: #fff;
  border-bottom-color: #af9aff;
}
.data-card:hover h4 {
  color: #fff;
}
.data-card:hover p {
  opacity: 1;
  transform: none;
}
.data-card:hover .link-text {
  color: #fff;
}
.data-card:hover .link-text svg {
  -webkit-animation: point 1.25s infinite alternate;
          animation: point 1.25s infinite alternate;
}
.data-card:hover .link-text svg path {
  fill: #fff;
}
@media only screen and (max-width: 37.5em), only screen and (hover: none) {
  .data-card {
    height: auto;
    border-radius: 3px;
    height: auto;
    position: relative;
    box-shadow: 0 1.5em 2.5em -0.5em rgba(0, 0, 0, 0.1);
    min-height: 20.75em;
  }
  .data-card h3 {
    font-size: 2em;
  }
}

@-webkit-keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.125em);
  }
}

@keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.125em);
  }
}
footer {
  background-color: #f79aff;
  padding: 60px 0px;
}
footer .social {
  overflow: hidden;
  text-align: right;
}
footer .social li {
  margin: 0px 5px;
  display: inline-block;
}
footer .social li a {
  color: #000;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  transition: all 0.3s ease 0s;
}
footer .social li a:hover {
  background-color: #000;
  color: #000;
}
footer .copyright {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: #000;
  letter-spacing: 0.88px;
  text-transform: capitalize;
}

@media (max-width: 991px) {
  footer .copyright {
    text-align: center;
  }
  footer .social {
    text-align: center;
    margin-top: 15px;
  }
}
.social-icon {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding-right: 5%;
}/*# sourceMappingURL=style.css.map */