.flip-front {
    transition: 0.5s;
    z-index: 1;
  }
  
  .flip-back {
    position: absolute;
    top: 0;
    padding: 10%;
    left: 0;
    opacity: 0;

    h6 {
      color: $black !important;
    }
  }
  
  .col-4:hover,
  .col:hover {
    .flip-front {
      transform: rotateY(180deg);
      opacity: 0;
    }
  
    .flip-back {
      opacity: 1;
      transition: 0.8s;
    }
  }
  
  @media (max-width: 500px) {
    .flip-back h6 {
      font-size: 0.7rem !important;
    }
  }
  
  @media (max-width: 400px) {
    .flip-back h6 {
      font-size: 0.6rem !important;
    }
  }
  

  
.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
  }
  
  .card-img {
    width: 100%;
    border-radius: calc(0.25rem - 1px);
  }
  
  .card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  
  .card-img-bottom {
    width: 100%;
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
  }