$color-primary: #f79aff;
$color-second: #af9aff;
$white: #fff;
$black: #000;
$grey: #313538;

.black {
  color: $black !important;
}

h5 {
  font-family:"Nunito Sans", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');