.about {
    background-color: $color-second;
      padding: 120px 0px;
    
      .right-text {
        align-self: center;
    
        p {
          margin-bottom: 40px;
          color: $white;
        }
      }
  
      .left-heading {
        h5 {
          font-size: 7em;
          line-height: 80%;
          font-family: metalista-web, serif;
          font-weight: 400;
          color: $white !important;
          text-shadow: 2px 2px $black !important;
        }
      }
  
      .horizontalDottedLine{
        background-image: linear-gradient(to right, $white 33%, rgba(240, 240, 240, 0) 0%);
        background-position: bottom;
        background-size: 15px 5px;
        background-repeat: repeat-x;
        width: 70%;
      } 
  
      .aboutHR {
        border: none;
        border-bottom: 20px dotted;
        width: 50%;
        float: left;
        color: $white;
        letter-spacing: 10em;
      }
  
      hr:after {
        content: "";
        letter-spacing: 40px;
      }
      
    }
    
    @media (max-width: 765px) {
      .about, #about2, #advertising, #concept-art, #photography, #branding, #marketing, #code {
        padding: 20px 0px 120px 0px;
      }
    }
    
    //about2
    .about2 {
      background-color: $grey;
      h6 {
        font-size: 1em;
        line-height: 80%;
        color: $color-primary;
      }
    }
  
    #advertising, #concept-art, #photography, #branding, #marketing, #code {
      background-color: $grey;
      h6 {
        font-size: 1em;
        line-height: 80%;
        color: $color-primary;
      }
    }
    
    .numberDisplay {
      border: 3px solid $white;    
      height: 2em;
      width: 2em;
      text-align: center;
      border-radius: 50%;
      float: right;
      margin-right: 7em;
      color: $white;
      font-family: inherit;
    }
  
     #logos {
      background-color: $white;
  
      h6 {
        font-size: 1em;
        line-height: 80%;
      }
    }
  
  
  .logo-heading {
      color: $color-second !important;
  }
  
  .horizontalDottedLineBlack {
    background-image: linear-gradient(to right, $black 33%, rgba(240, 240, 240, 0) 0%);
    background-position: bottom;
    background-size: 15px 5px;
    background-repeat: repeat-x;
    width: 70%;
  }
  
  @media (max-width:900px) {
      h5 {
      font-size:  4.5em !important;
      }
  }
  
  .text h6 {
      font-size: 1.125em;
      font-weight: 700;
  }
  
  
  
  
  .wrapper{
    width:200px;
    height:60px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
  }
  
  .circle{
    width:20px;
    height:20px;
    position: absolute;
    border-radius: 50%;
    background-color: $white;
    left:15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
  }
  
  @keyframes circle{
    0%{
        top:60px;
        height:5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40%{
        height:20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100%{
        top:0%;
    }
  }
  
  .circle:nth-child(2){
    left:45%;
    animation-delay: .2s;
  }
  
  .circle:nth-child(3){
    left:auto;
    right:15%;
    animation-delay: .3s;
  }
  
  .shadow{
    width:20px;
    height:4px;
    border-radius: 50%;
    background-color: $grey;
    position: absolute;
    top:62px;
    transform-origin: 50%;
    z-index: -1;
    left:15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
  }
  
  @keyframes shadow{
    0%{
        transform: scaleX(1.5);
    }
    40%{
        transform: scaleX(1);
        opacity: .7;
    }
    100%{
        transform: scaleX(.2);
        opacity: .4;
    }
  }
  
  .shadow:nth-child(4){
    left: 45%;
    animation-delay: .2s
  }
  
  .shadow:nth-child(5){
    left:auto;
    right:15%;
    animation-delay: .3s;
  }
  
  .wrapper span{
    position: absolute;
    top:75px;
    font-family: 'Lato';
    font-size: 20px;
    letter-spacing: 12px;
    color: $white;
    left:15%;
  }
  